@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: white;
    padding: 20px 2px;
    font-size: 1.2rem;
    font-weight: 600; 
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.brand{    
    Font-weight: 700;
    Font-size: 3rem;

}

.nav-links{
    display: flex;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}
/* Banner related style */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}
/* team and feature related style */
.teams{
    display: flex;
    align-items: center;
    margin-bottom: 130px;

}
.team-img-containe{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    /* width: 342px;
    height: 342px; */
    gap: 24px; 
    
    margin-left: 61px;
}
.our-features{
    margin-left: 76px;
    max-width: 530px;
}
.features-tirle{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.Quick-list{
    font-weight: 500;
    color: rgb(114, 114, 114);
} 

.Features{
    color: rgb(255, 144, 14);
}

.features-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 32px;
}

/* some facts related style */
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.title-disciption{
    
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 180px;
}


.fact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
}
.fact-icon{
    width: 45.22px;
    height: 45.22px;
    margin-top: 45.92px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 59.69;
}
/* sponsor related styles */
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img{
    filter: grayscale(100%);
} 

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }

    .team-img-containe, 
    .facts-container,
    .sponsors-companies{
        grid-template-columns: repeat(1,1fr);
        margin-left: 20px;
    }
    .our-features{
        margin-left: 10px;
        margin-right: 10px;

    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies{
        justify-items: center;
        gap: 50px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin: 50px auto;
    }
}